In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("q:/Data.3/gradedata2.csv")

In [4]:
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"7379 Highland Rd. , Dublin, GA 31021"
1,Kadeem,Morrison,male,18,4,4,78.2,"8 Bayport St. , Honolulu, HI 96815"
2,Nash,Powell,male,18,5,9,79.3,"Encino, CA 91316, 3 Lilac Street"
3,Noelani,Wagner,female,14,2,7,83.2,"Riverview, FL 33569, 9998 North Smith Dr."
4,Noelani,Cherry,female,18,4,15,87.4,"97 SE. Ocean Street , Bethlehem, PA 18015"

In [9]:
df2 = df.drop(labels=['address', 'fname', 'lname'], axis=1)

In [18]:
def nans(df): 
    return df[df.isnull().any(axis=1)]

In [27]:
def convert_gender_to_int(x):
    if x == "male": 
        return 0 
    else: 
        return 1

In [28]:
df2['gender_flag'] = df2["gender"].apply(lambda x: convert_gender_to_int(x))

In [30]:
df2 = df2.drop(labels=['gender'], axis = 1)

In [38]:
y = df2["grade"]
X = df2[["age", "exercise", "hours", "grade", "gender_flag"]]

In [33]:
df2.corr()

                  age  exercise     hours     grade  gender_flag
age          1.000000 -0.003643 -0.017467 -0.007580    -0.006192
exercise    -0.003643  1.000000  0.021105  0.161286     0.032681
hours       -0.017467  0.021105  1.000000  0.801955    -0.013906
grade       -0.007580  0.161286  0.801955  1.000000     0.016547
gender_flag -0.006192  0.032681 -0.013906  0.016547     1.000000

In [46]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [41]:
model = linear_model.LinearRegression()

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=4669)

In [43]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [44]:
Y_predicted = model.predict(X_test)

In [48]:
mean_squared_error(y_test, Y_predicted)

1.2981303817309644e-28

In [50]:
model.coef_

array([2.98687474e-16, 8.74300632e-16, 8.67361738e-16, 1.00000000e+00,
       1.09287579e-16])